{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class = "rounded-circle article-img"  src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
{% endblock content %}

<!-- we have used django naming convention here to keep the code to a minimum in the class based view
     post : object
     name of template is kept as such because django looks for it in this manner only
     we can change both of these things as we did in our ListView
 -->
